<ion-view hide-nav-bar="true">
    <!--<ion-header-bar>
    <div class="button button-clear" ng-click="goBack()">
        <span class="icon ion-ios-arrow-left"></span>
    </div>
    <h1 class="title">{{coach.name}}</h1>
</ion-header-bar>
-->
    <ion-content class="greybg">
        <div class="card coach-profile">
            <div class="button button-clear" ng-click="goBack()">
                <span class="icon ion-ios-arrow-left"></span>
            </div>
            <p class="coach-profile-avatar">
                <!--<img
					src='https://cdn4.iconfinder.com/data/icons/avatar-and-user/78/Avatar_person_user_character_man_woman_human-05-512.png'>-->
                 <img ng-src="{{coach.avatar}}">
            </p>
            <h4>{{coach.name}}</h4>
        </div>
        <div class="button-bar">
            <a class="button" ng-click="showpost()">分享</a>
            <a class="button" ng-click="showcourse()">课程</a>
        </div>
        <div class="list card card-info" ng-show="tabfirst">
            <div class="item" ng-repeat="post in timeline.recent">
                <h4>{{post.text}}</h4>
                <div class="twitter-img" ng-repeat="img in post.imgs" ng-click="openModal(img)">
                    <img ng-src={{img}}>
                </div>
                <p>{{post.createdAt}}</p>
            </div>
        </div>
        <div class="list card card-info" ng-hide="tabfirst">
            <div class="item" ng-repeat="post in timeline.recent">
                <h4>recent</h4>
            </div>
        </div>

    </ion-content>
</ion-view>
