<ion-header-bar>
    <div class="button button-clear" ng-click="goBack()">
        <span class="icon ion-ios-arrow-left"></span>
    </div>
    <h1 class="title">{{gym.title}}</h1>
</ion-header-bar>
<ion-content class="greybg">
    <ion-slide-box auto-play="true" does-continue="true" on-slide-changed="slideChanged(index)"
    class="gymdetail-slide">
        <ion-slide ng-repeat="slide in gym.pics">
            <img class="gymdetail-slide-item" src="{{slide}}">
        </ion-slide>
    </ion-slide-box>
    <div class="card card-info">
        <div class="item item-text-wrap">
            地址：{{gym.address}}
        </div>
    </div>
    <div class="list card card-info">
        <div class="item item-avatar" ng-repeat="coach in gym.coaches">
            <img ng-src="{{coach.avatar}}">
            <a ng-href="#/coach/{{coach.alias}}">Detail</a>
            <h2>{{coach.name}}</h2>
            <p>教练</p>
        </div>
    </div>
</ion-content>
